/* Reset de estilos básicos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo global da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin:auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"]
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="time"]{
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

input[type="submit"] {
  width: 100%;
  padding: 11px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #45a049;
}
